{% extends 'base.html' %}
{% block contents %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/hobby.css">
    <title>my hobby</title>
</head>

<body>
    <div class="wrapper">
        <br><h1> my hobby . • O </h1>
        <br><br>
        <div id="firsthobby">
            <h5> 🎧listening to music🎧 </h5> <br>
            <img src="{% static 'playlist.jpg'%}" height="300px" alt="산책플리">
            <br><br><p>저는 발라드보다 댄스음악을 굉장히 좋아해요</p>
            <p>스트레스 받거나 무작정 걷고 싶을 때 미리 준비해둔 나만의 플레이리스트를 들으며 산책하면 금새 나아진답니다</p>
            <p>아무에게도 안들키게 내적댄스 추면서 걷기 .. 여러분도 해보셔요</p>
        </div>
        <br> <br>
        <div>
            <h5> 🎶dancing🎶 </h5> <br>
            <img src="{% static 'dance.jpg'%}" height="300px" alt="춤추는나">
            <br><br><p>놀랍게도 고등학생 때 1년 반 정도 학원을 다니며 춤도 배우고, 실용무용 입시를 준비했었어요 </p>
            <p>그 덕에 춤추기라는 멋진 취미를 갖게 되었고, 입시를 그만두고나서도 동아리 활동과 학원 그리고 개인 연습을 통해 꾸준히 배우고 있어요 </p>
            <p>내가 좋아하고 재미있어 하는 활동을 취미로 삼는 것은 너무 행복한 것 같아요</p>
        </div>
        <br> <br>
        <div>
            <h5> 🤍..love ..🤍 </h5> <br>
            <img src="{% static 'love.jpg'%}" height="300px" alt="사랑혀 .. ">
            <br><br><p>중학생 때부터 여러 오빠들을 거쳐 온 .. 저에게 빠질 수 없는 마지막 취미는 아이돌 덕질입니다</p>
            <p>제 현오빠는 저의 사회적 체면을 위해 여기서는 밝히지 않도록 해요 ^^ ♡ </p>
            <p>심심할 때, 스트레스 받을 때, 우울할 때, 지루할 때 그냥 언제든 보면 바로 미소장착 가능</p>
            <p>(그래서인지 코xx가 더 밉네요)</p>
        </div>
    </div>
</body>

</html>


{% endblock %}