{% extends 'base.html' %}

{% block contents %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>main</title>
</head>
<body>
    <div>
        <div id="introduce">  
            <div class="img">
                <br>
                <img src="{% static 'profile_circle_shadow.png'%}" alt="프사" id="pfimage">  
            </div>
            <div class="description">
                <br><br><h2>KIM HYUNSUNG</h2>
                <br><p>💭성신여자대학교 컴퓨터공학과 4학년 <br>
                    💭멋쟁이 사자처럼 9기<br></p>
            </div>
        </div>
        <div id="link">
            <br><br><br>
            &nbsp; &nbsp; &nbsp;
            <a href="https://github.com/soihs821" target="_blank">github</a> &nbsp; &nbsp; &nbsp;
            <a href="https://velog.io/@hyunsung9999" target="_blank">velog</a> &nbsp; &nbsp; &nbsp;
            <a href="mailto:20180975@sungshin.ac.kr" target="_blank">e-mail</a>
        </div>

        </div>
    
    </div>
</body>
</html>

{% endblock %}