{% extends 'base.html' %}
{% block contents %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '../static/music.css' %}">
    <title>my playlist</title>
    <style>
        a:link { 
            color:lightgray; 
        }
        a:visited { 
            color:lightgray; 
        }
        a:hover { 
            color:pink; 
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1> my favorite playlist ..♡ </h1>
        <br><br>
        <!--<img src="{% static 'iphone_whitescreen.png'%}" height="100%" alt="아이폰사진">-->
        <div id="songs">
            <b>~ 현성's playlist ~</b> &nbsp;
            <a href="{%url 'new'%}"><b>+</b></a><br><br>

            {% for song in songs %}
            {{song.title}}
            - {{song.singer}} <br>
            ✧ {{song.body}}
            
            <a href="{% url 'editsong' song.id %}" style="font-size: small;">e</a>
            <a href="{% url 'deletesong' song.id %}" style="font-size: small;">b</a>
            <br><br>
            {% endfor %}
        </div>
    </div>
</body>

</html>


{% endblock %}