<!--사진 추가 (create)-->
{% extends 'base.html' %}

{% block contents %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            text-align: center;
        }
        button {
            background-color: pink;
        }
    </style>
    <title>welcome to my album</title>
</head>

<body>
    <br><br><h2> ⋆˚.•  내가 찍은 사진 •✩‧₊⋆</h2>
    <br><br>
    <form action="{%url 'createphoto'%}" method="POST" enctype="multipart/formdata">
        {%csrf_token%}
        <p>image <input type="file" name="image" accept="image/jpeg, image/jpg" required></p>
        <p>title: <input type="text" name="title"></p>
        <br>
        ✧✧✧ <br>
        <textarea name="body" id="" cols="30" rows="10"></textarea>
        <br><br>
        <button type="submit">추가</button>
    </form>
</body>

</html>


{% endblock %}