{% extends 'base.html' %}
{% block contents %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '../static/photo.css' %}">
    <style>
        .image {
           float: left;
           align-items: center;
           margin-bottom: 10%;
        }
        #first {
            margin-left: 27.5%;
        }
    </style>
    <title>my photo</title>
</head>

<body>
    <div class="wrapper">
        <h1> in my album </h1>
        <!--<br><br><a href="{%url 'add'%}">new</a><br><br>-->
        
        <div id="photos">
            <!--사용자한테 이미지 업로드 받으려고 했는데 안됨 .. ㅡㅡ
            {% for photo in photos %}
            제목입니다{{photo.title}}

            {% if photo.image %}
            <img src="{{photo.image.url}}" alt="사진" width="250px"><br>
            {% endif %}
            ✧ {{photo.body}}
            
            <a href="{% url 'editphoto' photo.id %}" style="font-size: small;">edit</a>
            <a href="{% url 'deletephoto' photo.id %}" style="font-size: small;">bye</a>
            <br><br>
            {% endfor %}-->
            <br><br>
            <p style="color: gray; font-style:italic;">자타공인 똥손이지만 그래도 가장 마음에 드는 사진 세가지를 가져와봤어요</p>
            <br>
            <div class="image" id="first">
                <h5>가평 북한강</h5>
                <img src="{% static '1.jpg'%}" height="250px" alt="1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="image" id="second">
                <h5>남이섬에서 본 토끼</h5>
                <img src="{% static '2.jpg'%}" height="250px" alt="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="image" id="third">
                <h5>지나가다가 본 구름</h5>
                <img src="{% static '3.jpg'%}" height="250px" alt="3">
            </div>
            
            
        </div>
    </div>
</body>

</html>


{% endblock %}